/* Apply animation and background to the body */
body {
    animation: transitionIn 0.75s; 
    background-image: url(image/dbapage.png); 
    background-size: cover;
    display: flex;
    flex-direction: row; 
    align-items: start; 
    justify-content: flex-start; 
    position: relative;
    font-family: 'Poppins', sans-serif;
}

/* Keyframe animation for transitionIn */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(-10deg);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Styling for the main content */
.content {
    max-width: 50%; 
    text-align: justify;
    color: #fff;
    margin: 50px auto; 
    margin-top: 100px; 
}

/* Styling for headings and paragraphs */
h1, h2, p {
    color: antiquewhite;
}

/* Styling for the tiger image */
.tiger {
    width: 350px;
    height: 350px;
    margin-top: 200px;
    margin-bottom: 100px; 
}

/* Styling for navigation buttons */
.button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 10px;
    position: relative; 
}

/* Hover effect for navigation buttons */
.button:hover {
    text-decoration: none; 
}

/* Styling for the underline effect on hover */
.button:hover::after {
    content: ''; 
    position: absolute; 
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px; 
    background-color: #fff; 
    transition: all 0.3s; 
}

/* Styling for the list of courses */
.courses-list {
    list-style: none;
    padding: 0;
}

/* Styling for individual course list items */
.courses-list li {
    color: #fff;
}
